<div id="about" style="align-content:center">
    
    <div class="main-header">
        An introduction to marshmellows
    </div>

    <div class="about-text">
        A marshmallow is a sugar-based confection that, in its modern form, typically consists of sugar, 
        water and gelatin which is whipped to a spongy consistency, molded into small cylindrical pieces, 
        and coated with corn starch. Some marshmallow recipes call for eggs. This confection is the modern 
        version of a medicinal confection made from Althaea officinalis, the marshmallow plant.
    </div>
    
    <table class="blocks-size-small blocks-size-big">
        <tr><td class="picture-title">Marshmellows in caramel</td></tr>
        <tr><td class="image-attrib"><img src="Img/2.JPG" class="image-attrib"><span class="tooltiptext">Img/2.JPG</span></td></tr>
        <tr>
            <td class="table-width">
                <details class="details-for-pictures">
                    <summary>How to make</summary>  
                    <ol class="details-for-pictures-content">
                        <li>Line two baking sheets with waxed paper; set aside. In a large saucepan, cook and stir the milk, caramels and butter over low heat until melted and smooth. Remove from the heat; stir in the cinnamon and vanilla.</li>
                        <li>
                            Place Rice Krispies in a shallow bowl. With a toothpick, dip each marshmallow into warm caramel mixture; turn to coat. Press bottoms into Rice Krispies; place treats on prepared pans. Let stand until set. Yield: 5 dozen.
                        </li>
                    </ol>
                </details>
            </td>
        </tr>
    </table>

    <table class="blocks-size-small blocks-size-big">
        <tr><td class="picture-title">Marshmellow flowers</td></tr>
        <tr>
            <td class="image-attrib"><img src="Img/3.jpg" class="image-attrib"><span class="tooltiptext">Img/4.jpg</span></td>
        </tr>
        <tr>
            <td class="table-width">
                <details class="details-for-pictures">
                    <summary>How to make</summary>
                    <ol class="details-for-pictures-content">
                        <li>
                            Heat oven to 350°F (325°F for dark or nonstick pans).
                        </li>
                        <li>Make, bake and cool cake mix as directed on box for 24 cupcakes. Frost cupcakes with frosting.</li>
                        <li>
                            Spray blades of kitchen scissors with cooking spray. Cut each marshmallow crosswise into 4 slices; sprinkle slices with colored sugar. Arrange 5 slices on each cupcake in flower shape. Place candle in center of each flower. Store loosely covered.
                        </li>
                    </ol>
                </details>
            </td>
        </tr>
    </table>

    <table class="blocks-size-small blocks-size-big">
        <tr><td class="picture-title">Russian marshmellows: "zefir"</td></tr>
        <tr>
            <td class="image-attrib"><img src="Img/4.jpg" class="image-attrib"><span class="tooltiptext">Img/4.jpg</span></td>
        </tr>
        <tr>
            <td class="table-width">
                <details class="details-for-pictures">
                    <summary>What is it</summary>
                    <ol class="details-for-pictures-content">
                    <li>ZEFIR - (Russian: Зефи́р, may also be spelled zephyr or zephir) is a type of soft confectionery made by whipping fruit and berry purée (mostly apple puree) with sugar and egg whites with subsequent addition of a gelling agent like pectin, carrageenan, agar, or gelatine. It is commonly produced and sold in the countries of the former Soviet Union.[1] The name given after the Greek god of the light west wind Zephyr symbolizes its delicate airy consistency.
                    </li>
                    </ol>
                </details>
            </td>
        </tr>
    </table>

</div>